body {
    background-color: #2f2f2f;
}

/* JS-Generated */ 

#mainBG {
    background: url(pics/deskbg.png);
    width: 1024px;
    height: 640px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

#menufield {
    width: 1024px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    border-top: 5px solid #2f2f2f;
}

#menuthumb {
    margin: 10px;
}


/* Window */ 

#windowdiv {
    width: 300px;
    height: 400px;
    background-color: #a5a5a5;
    z-index: 300;
    position: relative;
    top: 70px;
    left: 60px;
    border-radius: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.topbar {
    background: linear-gradient(to bottom, rgba(208,208,208,1) 0%,rgba(47,47,47,1) 100%);
    height: 35px;
    border-radius: 5px;
    width: inherit;
}

.upperthumb {
    float: left;
    width: 15px;
    margin: 10px;
}

.tooltip {
    color: white;
    width: 100px;
    margin-left: 30px;
    padding: 7px;
    font-family: actor, sans-serif;
    font-size: 0.85em;
}

.closewin {
    width: 30px;
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}

#wincont {
    height: 345px;
    width: inherit;
    background: #9f9f9f;
    overflow-y: auto;
}

.imgcont {
    display: inline-block;
    padding: 4px;
    background: #bababa;
    margin: 5px;
    border-radius: 4px;
}

.imglink {
    display: block;
    margin: 0 auto;
}

.imgthumb {
    display: block;
    margin: 0 auto;
}

.statusfield {
    background: linear-gradient(to bottom, rgba(208,208,208,1) 0%,rgba(134,134,134,1) 100%);
    height: 20px;
    width: inherit;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
}