body {
    background-color: #2f2f2f;
}

/* JS-Generated */ 

#mainBG {
    background: url(deskbg.png);
    width: 1024px;
    height: 640px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

#menufield {
    width: 1024px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    border-top: 5px solid #2f2f2f;
}

#menuthumb {
    margin: 10px;
}


/* Window */ 

#windowdiv {
    width: 300px;
    height: 400px;
    background-color: #a5a5a5;
    z-index: 300;
    position: relative;
    top: 70px;
    left: 60px;
}

#topbar {
    background-color: black;
    height: 35px;
}

#statusfield {
    background-color: white;
    height: 20px;
    width: inherit;
    position: absolute;
    bottom: 0px;
    left: 0px;
}